@use "../abstract/variables" as*;


.footer-login {
  background-color: rgba($color-purple, 0.5);
  color: $color-white;
  text-align: center;
  padding: 1rem;
  font-size: $font-size-base;
}

.dashboard-footer {
  background-color: rgba($color-purple, 0.5);
  color: $color-white;
  text-align: center;
  padding: 1rem;
  font-size: $font-size-base;

  p {
    margin: 0;
  }
}