$color-dark-red: #3E0018;
$color-primary: #88002D;
$color-purple: #885C7E;
$color-white: #ffffff;
$color-black: #000;


$font-main: 'Source Sans Pro', sans-serif;

$font-size-big-tilte : 36px;
$font-size-title: 28px;
$font-size-base: 16px;
$font-size-input: 24px;